*{
  box-sizing: border-box;
}
/* Navbar container */
.navbar,
.addbar {
  overflow: hidden;
  background-color: rgb(44, 45, 60);
  font-family: Arial;
  padding-bottom: 50px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}


/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*dropdown Icons*/
.drop-icon,
.add-icon {
  width: 45px;
}

/* Dropdown button */
.dropdown .dropbtn,
.dropdown2 .dropbtn2 {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a  background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn,
.addbar a:hover,
.dropdown2:hover .dropbtn2 {
  background-color: rgb(66, 88, 96);
}

/* Dropdown content (hidden by default) */
.dropdown-content,
.addbtn-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.addbtn-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: block;
  flex-flow: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover,
.addbtn-content a:hover {
  background-color: rgb(67, 84, 113);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown2:hover .addbtn-content {
  display: block;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.bars {
  display: flex;
  justify-content: space-between;
  background-color: rgb(44, 45, 60);
}

/* ============== Weclome, Sign-UP, Sign-In wrapper Overlay =============================== */

#wrapper_welcome,
#wrapper_signup,
#wrapper_signin,
#wrapper_event_form,
#wrapper_news_form{
  max-width: 350px;
  margin: auto;
  padding: 20px;
  background: #fff;
  margin-top: 100px;
}

#container_welcome,
#container_signup,
#container_signin,
#conatiner_event_form,
#container_news_form{
  margin: 20px 0px
}

#container_welcome h2,
#wrapper_signup h2,
#wrapper_signin h2,
#wrapper_event_form h2,
#wapper_news_form h2{
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
}

#overlay_welcome,
#overlay_signup,
#overlay_signin,
#overlay_event,
#overlay_news{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7)
}

#overlay_signup,
#overlay_signin,
#overlay_event,
#overlay_news{
  display: none;
}

#btn_close_signup,
#btn_close_welcome,
#btn_close_signin,
#btn_close_event_form, 
#btn_close_news_form{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #fff;
}

#container_signup input,
#container_signin input,
#container_event_form input,
#container_event_form textarea,
#container_news_form input,
#container_news_form textarea{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border: 1px solid gray;
  font-size: 15px;
  border-radius: 5px;
}

#container_signup input[type=submit],
#container_signin input[type=submit],
#container_event_form input[type=submit],
#container_news_form input[type=submit],
#btn_send_message{
  font-size: 16px;
  margin-top: 30px;
  color: #fff;
  font-weight: bold;
  background: rgb(19, 110, 214)
}

#container_signup input[type=submit]:hover,
#container_signin input[type=submit]:hover,
#container_event_form input[type=submit]:hover,
#container_news_form input[type=submit]:hover,
#btn_send_message:hover {
  background: rgb(15, 76, 145)
}

#container_welcome button {
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  background: rgb(19, 110, 214);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border: 1px solid gray;
  font-size: 15px;
  border-radius: 5px;
}

#container_welcome button:hover {
  background: rgb(15, 76, 145)
}

#container_welcome p {
  font-size: 20px;

}
/* ==================== footer ========================== */

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 180px;
  background: rgb(44, 45, 60);
  padding: 0px;
  width: 100%;
  
}

#wrapper_social{
  margin: 8px;

}

#container_message_received{
  height:100px;
  width:100%;
  overflow:auto;
  border:5px solid #EAF5FA;
  padding:2%;
  background: #EAF5FA;
}

#container_message_received div{
  border: solid #EAF5FA;
  border-radius: 5px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  
}

#container_message_received .username{
  color: #0028F8;
}

#wrapper_social{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;

}

