.div

/* Navbar container */
.navbar,
.addbar {
  overflow: hidden;
  background-color: rgb(44, 45, 60);
  font-family: Arial;
  padding-bottom: 50px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}


/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*dropdown Icons*/
.drop-icon,
.add-icon {
  width: 45px;
}

/* Dropdown button */
.dropdown .dropbtn,
.dropdown2 .dropbtn2 {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a  background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn,
.addbar a:hover,
.dropdown2:hover .dropbtn2 {
  background-color: rgb(66, 88, 96);
}

/* Dropdown content (hidden by default) */
.dropdown-content,
.addbtn-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.addbtn-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: block;
  flex-flow: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover,
.addbtn-content a:hover {
  background-color: rgb(67, 84, 113);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown2:hover .addbtn-content {
  display: block;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

/* .footer {
  position: fixed;
  left: 10px;
  bottom: 0px;
  height: 30px;
  width: 100%;
} */

.bars {
  display: flex;
  justify-content: space-between;
  background-color: rgb(44, 45, 60);
}

.footer {
  background: blue;
}