/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(44, 45, 60);
  font-family: Arial;
  padding-bottom: 95px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}
/*dropdown Icon*/
.drop-icon {
  width: 45px;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a  background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  display: flex;
  background-color: rgb(66, 88, 96);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* ============== Weclome, Sign-UP, Sign-In wrapper Overlay =============================== */

#wrapper_welcome,
#wrapper_signup,
#wrapper_signin{
  max-width: 350px;
  margin: auto;
  padding: 20px;
  background: #fff;
  margin-top: 100px;
}
#container_welcome,
#container_signup,
#container_signin{
  margin: 20px 0px 
}
#container_welcome h2,
#wrapper_signup h2,
#wrapper_signin h2{
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
}
#overlay_welcome,
#overlay_signup,
#overlay_signin{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7)
}

#overlay_signup,
#overlay_signin{
  display: none;
}

#btn_close_signup,
#btn_close_welcome,
#btn_close_signin{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #fff;
}

#container_signup input,
#container_signin input{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border:none;
  outline: none;
  border: 1px solid gray;
  font-size: 15px;
  border-radius: 5px;
}

#container_signup input[type=submit],
#container_signin input[type=submit]{
  font-size: 16px;
  margin-top: 30px;
  color: #fff;
  font-weight: bold;
  background: rgb(19, 110, 214)
}
#container_signup input[type=submit]:hover,
#container_signin input[type=submit]:hover{
  background:rgb(15, 76, 145)
}